<!DOCTYPE html>
<html lang="en">
{{>coursehead}}

<body>

    {{>header}}
    <main>
        <div class="banner">
            <img src="about-banner.webp" alt="Loading...">
            <b>
                <marquee behavior="scroll" direction="left" scrollamount="6">
                    <h1> Step out of the books and gain clarity on your career vision. </h1>
                </marquee>
            </b>
        </div>
        <div class=" details">
            <h1><b>Who we Are ?</b></h1>
            <br>
            <p>

                Ava Intern is an organization who committed to students’ success in different fields of
                technical and
                non-technical where they get actual industrial exposure in their life which helps them to
                implement the
                same in the company after placements. We are here to make students career path with right steps
                and
                procedure and with right education. We train the students with most well technologies and
                develop their
                all-round capability with an A-I based software’s and more.
                <br>
                <br>
                At AvaIntern live the real world and rule the world.
            </p>
            {{>talk}}
        </div>
    </main>
    {{>footer}}

    <body>

    </body>

</html>