<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>

    {{>header}}
    <main>
        <div class="banner">
            <img src="about-banner.avif" alt="Loading...">
            <b>
                <h1 style="font-weight: bolder;color: red;font-size: 50px;margin: 35px;text-align: center;">
                    Get up and
                    come out from books
                    and make your
                    career vision
                    clear. </h1>
            </b>
        </div>
        <div class=" details">
            <h1><b>Who we Are ?</b></h1>
            <br>
            <p>

                Ava Intern is an organization who committed to students’ success in different fields of
                technical and
                non-technical where they get actual industrial exposure in their life which helps them to
                implement the
                same in the company after placements. We are here to make students career path with right steps
                and
                procedure and with right education. We train the students with most well technologies and
                develop their
                all-round capability with an A-I based software’s and more.
                <br>
                <br>
                At InternsElite live the real world and rule the world.
            </p>
            <div class="talk">
                <div class="talk-body">
                    <h1><b>Talk to Our Counsellor</b> </h1><br>
                    <p>Get answers to all of your questions and concerns from our support staff, who are always
                        willing
                        to help. Don’t hesitate—just pick up your phone and ping us!</p>
                    <br>
                    <button class="btn btn-primary" style="box-shadow: 10px 5px 5px red;"><span>&rarr;
                        </span>Contact
                        us</button>
                </div>
                <img src="counsellor.jpg" style="width: 40%;margin: auto 0;" alt="">

            </div>
        </div>
    </main>
    {{>footer}}

    <body>

    </body>

</html>