<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}
    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329568/xyz/images/courses/ai_znsovo.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Artificial Intelligence Course</b></h1>
                <p>Learn DS with AvaIntern's Artificial Intelligence Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>An AI (Artificial Intelligence) course typically covers a wide range of topics related to the field of
                artificial intelligence, which is the branch of computer science focused on creating machines that can
                perform tasks that typically require human intelligence. AI courses can vary in depth and focus, but
                here's a general overview of what you might expect to learn in such a course
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
            <h1><b><b>Course Curriculum</b></b></h1>
            <br>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <strong>Introduction to Artificial Intelligence(AI)</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li>Definition and history of AI</li>
                            <li>Different AI approaches</li>
                            <li>Ethical and societal considerations in AI</li>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Machine Learning Fundamentals</strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li>Supervised learning</li>
                            <li>Unsupervised learning</li>
                            <li>Regression and classification</li>
                            <li>Model evaluation and metrics</li>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>Machine Learning Algorithms</strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li>Decision trees and random forests</li>
                            <li>Support vector machines</li>
                            <li>Neural networks and deep learning</li>
                        </div>
                    </div>
                </div>

                {{!-- <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong>Computer Vision</strong>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            Python is a widely used programming language in the field of data science due to its
                            simplicity, versatility, and a rich ecosystem of libraries and tools specifically designed
                            for data analysis and machine learning. Here are some key Python libraries commonly used in
                            data science:
                            <li>NumPy: A fundamental library for numerical computing in Python. It provides powerful
                                data structures and functions for handling multi-dimensional arrays and performing
                                mathematical operations efficiently.</li>
                            <li>Pandas: A versatile library for data manipulation and analysis. Pandas provides data
                                structures like DataFrames and Series, which allow for easy handling, filtering,
                                transforming, and aggregating data.</li>
                            <li>Matplotlib: A popular library for creating visualizations in Python. Matplotlib provides
                                a wide range of plotting functions and customization options to create various types of
                                charts, plots, and graphs.</li>
                            <li>Seaborn: Built on top of Matplotlib, Seaborn is a high-level library that provides a
                                more aesthetic and streamlined interface for creating statistical visualizations. It
                                offers additional plot types and enhances the visual appeal of the plots.</li>
                            <li>TensorFlow and Keras: These libraries are widely used for deep learning. TensorFlow is a
                                powerful open-source library for building and training deep neural networks, while Keras
                                provides a user-friendly high-level API that simplifies deep learning model development.
                            </li>
                            <li>Jupyter Notebook: A popular web-based interactive environment that allows for creating
                                and sharing documents containing live code, visualizations, and explanatory text.
                                Jupyter Notebook is widely used for data exploration, analysis, and communication of
                                results.</li>
                        </div>
                    </div>
                </div> --}}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <strong> Data wrangling & visualization</strong>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <li>Image processing and feature extraction</li>
                            <li>Object detection and image classification</li>
                            <li>Convolutional Neural Networks (CNNs)</li>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <strong> Final Project</strong>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li>Students work on a practical AI project throughout the semester</li>
                            <li>Project presentation and demonstration</li>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <strong> Assessment </strong>
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li>Quizzes and assignments</li>
                            <li>Midterm and final exams</li>
                            <li>Evaluation of the AI project</li>
                        </div>
                    </div>
                </div>
                {{!-- <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            <strong>MINOR & MAJOR PROJECT</strong>
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            When it comes to data science, both minor and major projects can be valuable for gaining
                            practical experience and showcasing your skills.


                            <li>In this minor project, we aim to develop a predictive model to identify customers at
                                risk of churning in the telecom industry. Churn, which refers to the phenomenon of
                                customers switching to a competitor or terminating their services, poses a significant
                                challenge for businesses. By utilizing machine learning techniques, we will analyze
                                historical customer data, including demographics, usage patterns, and customer service
                                interactions, to build a predictive model that can accurately forecast customer churn.
                                The project will involve data preprocessing, feature engineering, model selection, and
                                evaluation to create a robust solution that can help businesses proactively identify and
                                retain customers..</li>
                            <li>The major project focuses on developing an advanced fraud detection system for financial
                                transactions using deep learning and anomaly detection techniques. The project aims to
                                address the growing concern of fraudulent activities that pose significant financial
                                risks to businesses and individuals. By leveraging deep learning algorithms, such as
                                convolutional neural networks (CNN) or recurrent neural networks (RNN), and combining
                                them with anomaly detection methodologies, we aim to create a powerful model capable of
                                accurately identifying fraudulent transactions in real-time. The project involves
                                extensive data preprocessing, model training, and evaluation using large-scale
                                transaction datasets. The ultimate goal is to provide financial institutions with an
                                effective tool to proactively detect and prevent fraudulent activities, safeguarding the
                                integrity of financial systems.</li>
                        </div>
                    </div>
                </div> --}}

            </div>

        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>