<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}
    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329568/xyz/images/courses/ai_znsovo.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Artificial Intelligence Course</b></h1>
                <p>Learn DS with AvaIntern's Artificial Intelligence Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>A UI-UX design course typically focuses on the principles and practices of user interface (UI) and user
                experience (UX) design, with a focus on designing effective and engaging digital products such as
                websites, mobile apps, and software applications.
                Overall, a UI-UX design course prepares students to create user-centered designs that are both visually
                appealing and easy to use. Graduates of UI-UX design courses are highly sought after by businesses in a
                wide range of industries, including technology, advertising, and media.
            </p>

            <br><br>
            <b>
        </div>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Introduction of Artificial Intelligence</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>What is Artificial Intelligence?</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Installing Anaconda</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Fundamentals of Reinforcement Learning</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Learning Intuition.</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Learning Visulization.</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Deep Q-Learning</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Plan of Attack</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Deep Q-Learning Intuition - Learning</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Deep Q-Learning Intuition - Acting</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Experience Replay</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Action Selection Policies</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Learning Implementation</strong>
                    </button>
                </h2>
            </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>