<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329570/xyz/images/courses/business_aq3q1l.webp"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Business Analytics Course</b></h1>
                <p>Learn Business Analytics with AvaIntern's Business Analytics Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>
                Business analytics courses focus on the use of data to drive business decisions and strategies. These
                courses provide students with the knowledge and skills necessary to collect, analyze, and interpret data
                to gain insights into business operations and make informed decisions.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>
        <div class="course-overview">

            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Introduction and Welcome</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction and Welcome to this business development course</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>How to get more traffic, branding, marketing and B2B sales from this course</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Situations: product development, brand leverage, marketing, info-sharing?</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong>How to start good business development relationship</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Start business relationship by networking in your niche.</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Using social media (LinkedIn and Facebook) for B2B sales & business
                                development</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>What to do in first meetings</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Strategies to start an initial business development meeting</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Script elements for your first business development meeting or call</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>How to follow up the first business development meeting or call</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Business card networking - build your network ,Rolodex,business relationship</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">
                        <div class="collapse-item">
                            <strong>Business card networking section introduction</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Body language for successful networking</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Short pitch under 30 seconds</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <strong>Introduction emails internal to your company and external</strong>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>How to send an introduction email</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>How to gracefully and professionally reply to an introduction email</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>