<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329570/xyz/images/courses/cad_ta6hwj.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to AutoCAD Course</b></h1>
                <p>Learn AutoCAD with AvaIntern's AutoCAD Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>
                AutoCAD courses focus on the use of data to drive business decisions and strategies. These
                courses provide students with the knowledge and skills necessary to collect, analyze, and interpret data
                to gain insights into business operations and make informed decisions.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong> Introduction</strong>
                    </button>
                </h2>
                {{!-- <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        AutoCAD is a powerful computer-aided design (CAD) software used by professionals in various
                        industries for creating precise 2D and 3D designs.AutoCAD allows users to create precise 2D
                        and 3D drawings and models, making it a powerful tool for designing and documenting
                        projects.
                    </div>
                </div> --}}
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong> Auto CAD Basics</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Understanding AutoCAD Tool Bar</strong>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Drawing A Line With Draw Tool Bar</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Drawing Angular Line With Draw Tool Bar</strong>
                    </div>
                </div>
            </div>


            {{!-- <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong> 3D Modeling and Visualization</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        AutoCAD enables users to create detailed 3D models of objects and structures. It supports a
                        variety of 3D modeling techniques, including solid modeling, surface modeling, and mesh
                        modeling. Users can apply materials, textures, and lighting to enhance the visual
                        representation of their models.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <strong>Collaboration and Documentation</strong>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        AutoCAD facilitates collaboration among team members by allowing multiple users to work on
                        the same drawing simultaneously. It also supports file sharing and version control.
                        Additionally, AutoCAD enables users to generate accurate and comprehensive documentation,
                        including bills of materials, parts lists, and construction drawings
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <strong> Customization</strong>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        AutoCAD offers extensive customization options to tailor the software to specific workflows
                        and preferences. Users can create custom tool palettes, modify menus and shortcuts, and
                        develop scripts using AutoLISP, Visual Basic for Applications (VBA), or .NET.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <strong>Integration and File Compatibility</strong>
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        AutoCAD supports a wide range of file formats for importing and exporting designs, including
                        DWG, DXF, PDF, and more. It also integrates with other Autodesk software and third-party
                        applications, allowing seamless data exchange and collaboration.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <strong>Specialized Toolsets</strong>
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        AutoCAD includes specialized toolsets that cater to specific industries, such as
                        architecture, mechanical design, electrical design, and more. These toolsets provide
                        industry-specific features and libraries to enhance productivity and efficiency.
                    </div>
                </div>
            </div> --}}
        </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>