<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1717156989/cloud_computing_ak18ha.png"
                    style="width: 50%; margin:25% auto 10px auto" alt="Loading...">
                <h1><b>Introduction to Cloud Computing Course</b></h1>
                <p>Learn Cloud Computing with AvaIntern's Cloud Computing Online & Offline Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>
                Cloud computing is the delivery of computing services—including servers, storage, databases, networking,
                software, analytics, and intelligence—over the Internet (the cloud) to offer faster innovation, flexible
                resources, and economies of scale.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week-1 : Introduction to Cloud Computing </strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Definition and characteristics of cloud computing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>History and evolution of cloud computing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Benefits and challenges of cloud computing</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week-2 : Cloud Service Models</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Infrastructure as a Service (IaaS)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Platform as a Service (PaaS)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Software as a Service (SaaS)</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week-3 : Cloud Deployment Models</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Public cloud</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Private cloud</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Hybrid Cloud</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Community Cloud</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Selecting the right deployment model</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week-4 : Cloud Providers and Services</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to AWS, Azure, and Google Cloud</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Core services offered by each provider</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Pricing models and cost management</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week-5 : Setting Up Your Cloud Environment</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Creating and configuring cloud accounts</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Navigating cloud service dashboards</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Setting up virtual machines, storage, and networks</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week-6 : Cloud Storage and Databases</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Overview of cloud storage options</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Managing and configuring cloud storage</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to cloud databases</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week-7 : Cloud Security</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Understanding cloud security fundamentals</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Identity and access management</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Data encryption and protection</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week-8 : Cloud Networking</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Basics of cloud networking</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Configuring virtual networks</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Load balancing and scaling applications
                            </strong>
                        </div>
                        <div class="collapse-item">
                            <strong> Network security and best practices
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week-9 : Cloud Application Development</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Developing cloud-native applications</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to microservices architecture</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Containerization with Docker and Kubernetes</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading10">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <strong>Week-10 : Cloud Migration Strategies</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Assessing applications for cloud readiness</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Planning and executing a cloud migration</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Tools and best practices for migration</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Post-migration optimization</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Week-11 : Cloud Management and Monitoring</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Monitoring cloud infrastructure and applications</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Cost management and optimization</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Automation with cloud tools and scripts</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Week-12 : Future Trends and Case Studies</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Emerging trends in cloud computing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Case studies of successful cloud implementations</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Future of cloud computing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Final project presentations</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>