<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>

    {{>header}}
    <main>
        <div class="contact">
            <img src="contact.jpg" alt="Loading...">
            {{!-- <div class="address">
                <h1><b><i><u> Ava Intern</u></i></b></h1>
                <br>
                <p></p>
            </div> --}}
        </div>
        <div class="my-form">
            <div class="extra-connections">
                <h1><b>Follow Us</b></h1>
                <div class="links">
                    <a href="https://www.linkedin.com/company/ava-intern/"><img src="linkedin.jpg" alt=""></a>
                    <a href="https://instagram.com/ava_intern?igshid=YmMyMTA2M2Y="><img src="insta.jpeg" alt=""></a>
                    {{!-- <a href="#"><img src="twitter.png" alt=""></a>
                    <a href="#"><img src="whatsapp.png" alt=""></a> --}}
                    <a href="mailto:support@avaintern.com"><img src="email.avif" alt=""></a>
                </div>
            </div>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control">
                    <div id="numberHelp" class="form-text">We'll call you soon!</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputMessage" class="form-label">Message</label>
                    <input type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </main>

    {{>footer}}
</body>

</html>