<!DOCTYPE html>
<html lang="en">
{{>coursehead}}

<body>
    {{>header}}
    <main>
        <div class="container">
            <img src="/e_learning_course.jpg" style="width: 100%;height: 300px;" alt="Loading...">
        </div>
        <p class="para">Become Industry Ready,
            Enroll for Internship
            Program</p>


        <div class="traineeship">
            <h1 style="text-align:center;margin:4%;"><b>Traineeship Program</b></h1>
            <div class="cards-level">
                <div class="cards">
                    <div class="card">
                        <img src="/courses/ds.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text"><b>Data Science Online Internship Program </b></p>
                            <a href="/course/ds" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/courses/dsa.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Data Structure and Algorithms Online Internship Program.</b></p>
                            <a href="/course/dsa" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/bg-courses/web.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Full Stack Web Development Online Internship Program.</b></p>
                            <a href="/course/web" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <img src="/courses/business.jpg" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text"><b> Business Analytics Online Internship Program </b></p>
                            <a href="/course/business" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/courses/ui-ux.jpg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>UI/UX Design Online Internship Program.</b></p>
                            <a href="/course/ui-ux" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/courses/human.jpg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Human Resources Online Internship Program</b></p>
                            <a href="/course/human" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="cards-level">
                <div class="cards">
                    <div class="card">
                        <img src="/bg-courses/marketing.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Digital Marketing and Marketing Online Internship Program.</b></p>
                            <a href="/course/marketing" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/courses/finance.jpg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Finance Online Internship Program.</b></p>
                            <a href="/course/language" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
</body>

</html>