<!DOCTYPE html>
<html lang="en">
{{>coursehead}}

<body>
    {{>header}}
    <main>
        <div class="container">
            <img class="images" src="/e_learning_course.webp" style=alt="Loading...">
        </div>
        <marquee behavior="scroll" direction="left">
            <p class="para">Become Industry Ready,Enroll for Internship Program</p>
        </marquee>


        <div class="traineeship">
            <h1 style="text-align:center;margin:4%;"><b>Traineeship Program</b></h1>
            <div class="cards-level">
                <div class="cards">
                    <div class="card card-course">
                        <img src="/bg-courses/ds.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Data Science Online Internship Program </b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/ds" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="/bg-courses/dsa.jpg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Data Structure and Algorithms Online Internship
                                    Program.</b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/dsa" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="/bg-courses/web.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Full Stack Web Development Online Internship
                                    Program.</b>
                            </p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/web" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="card card-course">
                        <img src="/bg-courses/business.avif" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text text-body"><b> Business Analytics Online Internship Program </b>
                            </p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/business" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="/courses/ui-ux.webp" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body "><b>UI/UX Design Online Internship Program.</b>
                            </p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/ui-ux" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="/bg-courses/human.avif" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Human Resources Online Internship
                                    Program</b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/human" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="cards-level">
                <div class="cards">
                    <div class="card card-course">
                        <img src="/bg-courses/marketing.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Digital Marketing and Marketing Online
                                    Internship
                                    Program.</b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/marketing" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="/bg-courses/finance.avif" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Finance Online Internship Program.</b>
                            </p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/finance" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards-level">
                <div class="cards">
                    <div class="card card-course">
                        <img src="/bg-courses/cad.avif" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Complete AutoCAD Online
                                    Internship
                                    Program.</b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/cad" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="/bg-courses/bda.jpg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Complete Business Development Associate (BDA) Online
                                    Internship
                                    Program.</b></p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/bda" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-course">
                        <img src="/courses/java.avif" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text text-body"><b>Java Online Internship Program.</b>
                            </p>
                            <div class="course-card">
                                <b>&#x20b9; 11999</b>
                                <a href="/course/java" class="btn btn-primary">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    {{>footer}}
</body>

</html>