<!DOCTYPE html>
<html lang="en">
{{>coursehead}}

<body>
    {{>header}}
    <main>
        <div class="container">
            <img src="/e_learning_course.jpg" style="width: 100%;height: 400px;" alt="Loading...">
        </div>
        <p class="para">Become Industry Ready,
            Enroll for Internship
            Program</p>


        <div class="traineeship">
            <h1 style="text-align:center;margin:4%;"><b>Traineeship Program</b></h1>
            <div class="cards-level">
                <div class="cards">
                    <div class="card">
                        <img src="/bg-courses/ml.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text"><b> Machine Learning Online Internship Program </b></p>
                            <a href="/course/ml" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/bg-courses/ai.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Artificial Intelligence Online Internship Program.</b></p>
                            <a href="/course/ai" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/bg-courses/web.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Web Development Online Internship Program.</b></p>
                            <a href="/course/web" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <img src="/bg-courses/ds.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Data Science Online Internship Program.</b></p>
                            <a href="/course/ds" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/bg-courses/cyber.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Cyber Security Online Internship Program.</b></p>
                            <a href="/course/cyber" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/bg-courses/app.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Android App Development Online Internship Program</b></p>
                            <a href="/course/app" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <img src="/bg-courses/robot.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Robotics Online Internship Program.</b></p>
                            <a href="/course/robot" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/bg-courses/cad.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>AutoCAD Online Internship Program.</b></p>
                            <a href="/course/cad" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <hr>
        <div class="advance-program">
            <h1 style="text-align: center; margin: 3%;color: rgb(123, 222, 70);">
                <b><b>Advance-Program</b></b>
            </h1>
            <br>
            <div class="cards-level">
                <div class="cards">
                    <div class="card">
                        <img src="/bg-courses/python.jpeg" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text"><b> Python Online Internship Program </b></p>
                            <a href="/course/python" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/bg-courses/marketing.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Digital Marketing and Marketing Online Internship Program.</b></p>
                            <a href="/course/marketing" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/bg-courses/language.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>C/C++ & Java Online Internship Program.</b></p>
                            <a href="/course/language" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="cards">
                    <div class="card">
                        <img src="/bg-courses/mern.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b> MERN Stack Online Internship Program.</b></p>
                            <a href="/course/mern" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/bg-courses/web.jpeg" class="card-img-top" alt="Loading...">
                        <div class="card-body">
                            <p class="card-text"><b>Full Stack Web Development Online Internship Program.</b></p>
                            <a href="/course/web" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{>footer}}
</body>

</html>