<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736869/cyber-security_jh23gq.png"
                    style="width: 50% ; margin:25% auto 10px auto" alt="Loading...">
                <h1><b>Introduction to Cyber Security Course</b></h1>
                <p>Learn Cyber Security with AvaIntern's Cyber Security Online & Offline Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>
                This course provides a comprehensive introduction to Cyber Security, with a special focus on system
                testing. Students will learn the fundamentals of Cyber Security, along with various testing
                methodologies to ensure the functionality, performance, and reliability of Cyber Securitys. The course
                includes practical labs and projects to enhance hands-on skills.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week 1-2: Introduction to Cyber Security</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Overview of cyber security </strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Importance of cyber security in the digital age</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Key concepts: confidentiality, integrity, availability</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week 3-4: Network Security</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Basics of networking</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Network security fundamentals</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Firewalls, intrusion detection systems (IDS), and intrusion prevention systems (IPS)
                                & Virtual private networks (VPNs)</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week 5-6: Cryptography</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong> Introduction to cryptography & Symmetric and asymmetric encryption</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Hash functions and digital signatures</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Public key infrastructure (PKI)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Applications of cryptography in cyber security</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week 7: Secure Software Development</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Principles of secure software development</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Common software vulnerabilities and exploits</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Secure coding practices</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week 8: Operating System Security</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Security features of modern operating systems</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Hardening operating systems</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Managing user privileges and access controls</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week 9: Incident Response and Management</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Incident response lifecycle</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Preparing for and responding to security incidents</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Forensic investigation techniques</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week 10: Risk Management and Compliance</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Identifying and assessing cyber security risks</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Risk mitigation strategies </strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Compliance with laws and regulations</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week 11: Ethical Hacking and Penetration Testing</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to ethical hacking & Phases of penetration testing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Reconnaissance and scanning</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Exploitation and gaining access
                            </strong>
                        </div>
                        <div class="collapse-item">
                            <strong> Reporting and remediation
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week 11-12: Scalability and Reliability Testing of Cyber Securitys</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Emerging trends and technologies in cyber security</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Cloud security</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Internet of Things (IoT) security</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Lab 1: Network Security Configuration</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Configuring and managing firewalls and IDS/IPS</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Securing wireless networks</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Lab 2: Cryptographic Implementations</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Implementing symmetric and asymmetric encryption </strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Setting up and using PKI</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>