<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/business.webp?updatedAt=1720341400270"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Data Analytics Course</b></h1>
                <p>Learn Data Analytics with AvaIntern's Data Analytics Online & Offline Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>Data analytics courses focus on equipping individuals with the tools and techniques to extract meaningful
                insights from data, enabling informed decision-making within various domains. These courses emphasize
                the following key aspects.
            </p>
            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>
        <div class="course-overview">

            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week-1 : Introduction to Data Analytics</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Overview of data analytics and its applications in various industries</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Introduction to Python programming language and libraries (NumPy, Pandas) for data
                                manipulation</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Basics of data visualization using Matplotlib and Seaborn</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week-2 : Data Collection and Cleaning</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Data acquisition methods (web scraping, APIs, databases)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Techniques for data cleaning and preprocessing (handling missing values, outliers,
                                data normalization)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Data cleaning , transformation & Data visualization</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week-3 : Introduction to
                            Statistical Analysis</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Descriptive statistics</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Statistical inference</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Hypothesis testing</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week-4 :Exploratory Data Analysis (EDA)</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Descriptive statistics and summary metrics</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Data visualization techniques for EDA (histograms, box plots, scatter
                                plots)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Correlation analysis and feature selection</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week-5 : Statistical Analysis</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to statistical inference and hypothesis testing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Parametric and non-parametric tests (t-tests, ANOVA, chi-square test)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Regression analysis (linear regression, logistic regression)</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week-6 : Machine Learning Basics</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to machine learning concepts and algorithms</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Supervised learning (classification, regression) with scikit-learn</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Unsupervised learning (clustering, dimensionality reduction)</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week-7 : Time Series Analysis</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Advanced visualization techniques</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Dashboard design principles</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Best practices for dashboard design & implementation</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week-8 : Advanced Topics and Capstone Project</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Advanced machine learning techniques (ensemble methods, neural networks)
                                Introduction to big data technologies (Hadoop, Spark)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Ethical considerations in data analytics</strong>
                        </div>
                        <div class="collapse-item">
                            <strong> Capstone project: Apply learned concepts to a real-world dataset, including data
                                preprocessing, analysis, modeling, and presentation of insights
                            </strong>
                        </div>
                        <div class="collapse-item">
                            <strong>PROJECT ASSIGNMENT
                            </strong>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week-9 : Big Data Analytics</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Seasonal decomposition & ARIMA models</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Forecasting techniques</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Overview of optimization and simulation</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading10">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <strong>Week-10 : Data Governance

                            and Ethics</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Linear & Non-linear programming</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Monte Carlo simulation & Queuing theory</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Big Data Hadoop and MapReduce</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>NoSQL databases & Apache Spark</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Week-11 : Data Analytics Tools and
                            Technologies</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Data governance framework & Data privacy and

                                security</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Ethical considerations in Data Analytics</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Review</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Week-12 : Final Project</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Legal, regulatory issues & Case studies in data ethics</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Tableau and other BI tools</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project Submission</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>