<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}
    <main>
        <div class="container">
            <div class="section">
                <img src="/courses/ds.jpg" style="width: 100%;" alt="Loading...">
                <h1><b>Introduction to Data Science Course</b></h1>
                <p>Learn DS with AvaIntern's Data Science Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        {{>coursedetail}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>Data is one of the most important commodities in today’s world. With billions of bytes of data available
                every second, the ability to gain useful insights from data for various decisions is an important factor
                in harnessing the potential of data. AvaIntern’s Data Science Course will introduce you to concepts
                like Python programming for Data Science, Data retrieval, manipulation, and storage to help you stay
                ahead of the data curve and uncertainty.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
            <h1><b><b>Course Curriculum</b></b></h1>
            <br>
            <ol type="1">
                <li>Introduction to Data Science</li>
                <li>Introduction to Machine learning</li>
                <li>Introduction to Python </li>
                <li>Python for Data science</li>
                <li> Data collection </li>
                <li> Data wrangling & visualization </li>
                <li> Machine learning Algorithms for DS </li>
                <li>DEEP LEARNING</li>
                <li>MINOR & MAJOR PROJECT</li>
            </ol>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>