<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}
    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329571/xyz/images/courses/data-science_sgkq8d.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Data Science Course</b></h1>
                <p>Learn DS with AvaIntern's Data Science Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>Data is one of the most important commodities in today’s world. With billions of bytes of data available
                every second, the ability to gain useful insights from data for various decisions is an important factor
                in harnessing the potential of data. AvaIntern’s Data Science Course will introduce you to concepts
                like Python programming for Data Science, Data retrieval, manipulation, and storage to help you stay
                ahead of the data curve and uncertainty.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>

        <div class="course-overview">

            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Introduction of Numpy</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>NumPy object creation?</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Vectorized operations</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Additional operations</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Image as NumPy matrix</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Indexing & selection</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong>Pandas</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to Pandas</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Object creation </strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Selection methods</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Merging</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Grouping</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Matplotlib</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to Matplotlib</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Bar graph</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Advanced bar graph</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Scatter plot</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Integrated plots </strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <strong> DEEP LEARNING</strong>
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Deep learning is a subfield of machine learning that focuses on training artificial
                        neural networks with multiple layers to learn and extract intricate patterns and
                        representations from data. It is inspired by the structure and functioning of the human
                        brain, with deep neural networks consisting of interconnected layers of artificial
                        neurons. Through a process called backpropagation, deep learning models can adjust the
                        weights and biases of these neurons to iteratively improve their performance on a given
                        task. <br>

                        Deep learning has demonstrated remarkable success in various domains, including computer
                        vision, natural language processing, speech recognition, and recommendation systems. It
                        can automatically learn hierarchical features from raw data, enabling it to handle
                        complex tasks such as image classification, object detection, language translation, and
                        sentiment analysis. Deep learning models, such as convolutional neural networks (CNNs)
                        and recurrent neural networks (RNNs), have set new benchmarks in accuracy and
                        performance on challenging problems.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        <strong>MINOR & MAJOR PROJECT</strong>
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        When it comes to data science, both minor and major projects can be valuable for gaining
                        practical experience and showcasing your skills.


                        <li>In this minor project, we aim to develop a predictive model to identify customers at
                            risk of churning in the telecom industry. Churn, which refers to the phenomenon of
                            customers switching to a competitor or terminating their services, poses a significant
                            challenge for businesses. By utilizing machine learning techniques, we will analyze
                            historical customer data, including demographics, usage patterns, and customer service
                            interactions, to build a predictive model that can accurately forecast customer churn.
                            The project will involve data preprocessing, feature engineering, model selection, and
                            evaluation to create a robust solution that can help businesses proactively identify and
                            retain customers..</li>
                        <li>The major project focuses on developing an advanced fraud detection system for financial
                            transactions using deep learning and anomaly detection techniques. The project aims to
                            address the growing concern of fraudulent activities that pose significant financial
                            risks to businesses and individuals. By leveraging deep learning algorithms, such as
                            convolutional neural networks (CNN) or recurrent neural networks (RNN), and combining
                            them with anomaly detection methodologies, we aim to create a powerful model capable of
                            accurately identifying fraudulent transactions in real-time. The project involves
                            extensive data preprocessing, model training, and evaluation using large-scale
                            transaction datasets. The ultimate goal is to provide financial institutions with an
                            effective tool to proactively detect and prevent fraudulent activities, safeguarding the
                            integrity of financial systems.</li>
                    </div>
                </div>
            </div>

        </div>




        {{!-- </div> --}}
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>