<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="/bg-courses/dsa.jpg" style="width: 100%;" alt="Loading...">
                <h1><b>Introduction to Data Structure & Algorithms Course</b></h1>
                <p>Learn Data Structure & Algorithms with AvaIntern's Data Structure & Algorithms Online Internship
                    Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="course-details">
            <ul>
                <li>Live Conversations With Industry Professionals</li>
                <li>25+ Hours of Learning</li>
                <li>Certificates from reputable MNC's around the world</li>
                <li>Project support and Guidance.</li>
                <li>Access to Specialized Course Materials</li>
            </ul>
        </div>
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>A Data Structures and Algorithms (DSA) course typically focuses on the fundamental concepts and
                techniques used in computer programming for designing efficient algorithms and data structures. The
                course aims to provide students with a thorough understanding of the principles and practices involved
                in solving complex computational problems.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
            <h1><b><b>Course Curriculum</b></b></h1>
            <br>
            <ol type="1">
                <li>Introduction to Algorithms</li>
                <li>Data Structures</li>
                <li>Sorting and Searching Algorithms</li>
                <li>Algorithm Design Techniques</li>
                <li>Graph Algorithms</li>
                <li>Algorithmic Analysis and Complexity Theory</li>
                <li>Dynamic Data Structure</li>
                <li>Understanding concepts overviews</li>
                <li>MINOR & MAJOR PROJECT</li>
            </ol>
        </div>
        <div class="certificates">
            <div class="card">
                <img src="/certificate-2.jpg" class="card-img-top" alt="Loading...">
            </div>
            <div class="card">
                <img src="/certificate-1.jpg" class="card-img-top" alt="Loading...">
            </div>
        </div>
        <div class="pricing">
            <h1><b><b>Pricing Plans</b></b></h1>
            <h2><b> Traineeship</b></h2>
            <h2><b>Rs. 6999</b></h2><br>
            <ul>
                <h3><b>What you get from this : </b></h3><br>
                <li>Internship Certificate by Co-Branded Company</li>
                <li>1 minor + 1 Major project</li>
                <li>16+ hours of mentor training</li>
                <li>25+ hours of video content access</li>
                <li>Outstanding Certificate on successful completion of extra projects</li>
                <li>Training Certificate from AvaIntern</li>
            </ul>
        </div>
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>