<!DOCTYPE html>
<html lang="en">
{{> coursehead }}

<body>
    {{>header}}

    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div>
            <div class="mb-4 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 16 16">
                    <!-- Red Circle -->
                    <circle cx="8" cy="8" r="8" fill="red" />
                    <!-- White X -->
                    <path fill="white"
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </div>

            <div class="text-center">
                <h1>Something went Wrong!!</h1>
                <button class="btn btn-primary"><a href="/">Back Home</a></button>
            </div>
        </div>
</body>

</html>