<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
    <main>
        <div class="heading_faqs">
        <h1><b><b><h1>FAQ's</h1></b></b></h1>
        </div>
        <div class="questions">
            <div class="que">
                    <p><span>1.</span> What are the software requirements and how to get those software's?</p>
                    <p><span>Ans.</span>All the required software's will be provided from Pregrag and students need worry to buy or lease the expensive software's.</p>
            </div>
            <div class="que">
                    <p><span>2.</span> What will be the training/internship timings?</p>
                    <p><span>Ans.</span>The training timings will be scheduled in the evening between 6:00 PM to 10:00 PM so
that it will not affect student’s college curriculum. Moreover we expect students to dedicate
their 6-8 hours on weekly basis.</p>
            </div>
            <div class="que">
                    <p><span>3.</span> What are the prerequisites required?</p>
                    <p><span>Ans.</span>There are no specific prerequisites. Nevertheless, accordance to the course would
beagood starting point.</p>
            </div>
            <div class="que">
                    <p><span>4.</span> How do I interact with the mentors if I will get any doubts?</p>
                    <p><span>Ans.</span>You can clear your doubts during live classes. There is also a provision of sending in your
queries via chat-box preferably at the end of the session so that it will notdisturbotherinterns.</p>
            </div>
            <div class="que">
                    <p><span>5.</span>What should I do if I cannot attend a live session?</p>
                    <p><span>Ans.</span>If you miss any session for any reason, the recorded session will be provided to you and
if you have any queries, you can raise them in the next live session.</p>
            </div>
            <div class="que">
                    <p><span>6.</span>What kind of projects I will be working on?</p>
                    <p><span>Ans.</span>You will be working on real-time capstone based projects which will be of higher level
than what you do in college on regular basis and our industrial mentors will be there to help
you out throughout your project.</p>
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>