<!DOCTYPE html>
<html lang="en">

{{>head}}
<body>
  {{>header}}
    <main>
        <div class="container my-5">
            <div class="img">
                <img src="/bg-2.jpg" alt="Loading">
            </div>
            <div class="content">
                <p>Learn without limits and spread knowledge</p>
                <p class="basic-info">Build new skills for that "this is my year" feeling with

                    courses,certificates, and degrees from world-class

                    universities and companies
                </p>
                <div class="some-btn" style="display: flex;justify-content: space-around;margin-top: 5%;">
                    <button type="button" class="btn btn-warning"><b><a
                                href="/course"> See Courses</a></b></button>
                    <button type="button" class="btn btn-dark"
                        ><b>Watch Video</b></button>
                </div>
                
            </div>
        </div>
        <div class="our_courses">
            <div class="info-2 mx-3">
                <h1><b> Our Popular Courses </b> </h1>
                <p>Build new skills with new trendy courses and shine

                    for the next future career</p>
            </div>
            <div class="multiple-cards">
            <div class="cards">
                <div class="card" >
                    <img src="basic-web-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b> Full Stack Web Design</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and

                            shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> &#x20b9; 120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/web"> Book
                                    Now </a></b></button>
                        </div>
                    </div>
                </div>
                <div class="card" >
                    <img src="/courses/dsa.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b>  Data Structure and Algorithms</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and

                            shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> &#x20b9; 120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/ai"> Book
                                    Now </a></b></button>
                        </div>
                    </div>
                </div>
                <div class="card" >
                    <img src="/courses/human.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b> Human Resources</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and

                            shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> &#x20b9; 120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/ml"> Book
                                    Now </a></b></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card" >
                    <img src="/courses/ui-ux.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b> UI/UX Design</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and

                            shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> &#x20b9; 120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/python"> Book
                                    Now </a></b></button>
                        </div>
                    </div>
                </div>
                <div class="card" >
                    <img src="/courses/marketing.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b>Digital Marketing</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> &#x20b9; 120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/marketing"> Book
                                    Now</a></b></button>
                        </div>
                    </div>
                </div>
                <div class="card" >
                    <img src="/courses/ds.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b> Data Science</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> &#x20b9; 120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/mern"> Book
                                    Now</a></b></button>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div class="whychooseus">
            <img src="/why.jpg" alt="">
            <div class="moto">
            <p class="heading">Why Choose Us ?</p>
            <p>Ava Intern is a rapidly growing training innovation
                company that provides a significant number of elearning
                arrangements for the global market under one
                roof. Our organization has been created with the aim of
                assisting individuals in realizing their full potential by
                providing entirely flexible, top-to-bottom, and
                comprehensive learning opportunities. The best
                learning benefits which make us different from others
                are our project based tasks along with internship
                experiences which students get while doing the courses.</p>
        </div>
        </div>
        <div class="thoughts">
            <div class="author">
                <img src="peter.png" alt="Loading...">
                <h4><b>Mukund Tiwari</b></h4>
                <p>Student of web Design</p>
            </div>
            <div class="thought-author">
                <h2><q> Not only does my resume look impressive-filled with the
                        names and logos of world-class institutions-but these
                        certificates also bring me closer to my career goals by
                        validating the skills I've learned </q></h2>
            </div>
        </div>

        <div class="extra">
            <div class="img">
                <img src="p1.png" style="position: relative;top: 30px;margin: 4px;width:45%;" alt="Loading...">
                <img src="p2.png" style="width: 45%;" alt="Loading...">
            </div>
            <div class="info-3">
                <h2>Learner outcomes through our awesome platform</h2>
                <p>87% of people learning for professional development report career benifits like getting a promotion, a raise, orstarting a new career</p>
                <p>
                    <br>
                    Lesson impact Report</p>

                <button type="button" class="btn btn-dark"><b><a href="/signup"> Sign
                        Up</a></b></button>

            </div>
        </div>

        <div class="plan">
            <img src="plan.jpg" alt="Plan">
        </div>
        <div class="ourmentor">
            <h1 style="text-align: center;color:rgb(247, 83, 54);font-size:50px"><b><b>Our Mentor</b></b></h1>
            <hr><hr><hr>
            <br>
            <div class="mentor">
                <p> Our Mentors at Ava Intern are industry experts who bring years of experience and valuable insight to the classroom. They adopt a personalized approach to suit every student’s needs, accentuating the strengths and addressing any weaknesses. Our mentors encourage active participation in class by encouraging questions and offering feedback after every lecture. We believe that by the end of your course you will have not only the theoretical understanding but an excellent proficiency in skills required to succeed in your field. </p></div>
            <br>
        </div>
        <div class="provide">
            <div class="provide-content">
            <p>We will increase your Knowledge with <span>AvaIntern</span></p>
            <div class="img">
            <img src="/girl.webp" alt="">
            </div>
            </div>
        </div>
        <div class="about">
            <h1 style="text-align: center;"><b><b>About Us</b></b></h1>
            <hr><hr><hr>
            <li>Ava Intern is an Online learning platform
            that provides students a holistic learning
            experience to help make them industryready.</li>
            <li>With access to the Industry Experts, Online
                Courses and blended learning, it allows
                students to Learn beyond Expectations.</li>
                <li>AvaIntern bridge the gap between classroom
                    and workplace with our flagship Training -
                    cum- Internship Programs.</li>
        </div>
        <div class="partners">
            <p><b>Our Alumuni Works at</b></p>
            <div class="imgs">
                <img src="Microsoft.png" alt="Loading...">
                <img src="adobe.png" alt="Loading...">
                <img src="autodesk.jpeg" alt="Loading...">
                <img src="cfa.webp" alt="Loading...">
            </div>
        </div>
    </main>
   {{>footer}}

</body>

</html>