<!DOCTYPE html>
<html lang="en">

{{>head}}
<body>
  {{>header}}
    <main>
        <div class="container my-5">
            <div class="img">
                <img src="bg-2.avif" alt="Loading">
            </div>
            <div class="content">
                <p>Learn without limits and spread knowledge</p>
                <p class="basic-info">Build new skills for that "this is my year" feeling with

                    courses,certificates, and degrees from world-class

                    universities and companies
                </p>
                <div class="some-btn" style="display: flex;justify-content: space-around;margin-top: 5%;">
                    <button type="button" class="btn btn-warning"><b><a
                                href="/course"> See Courses</a></b></button>
                    <button type="button" class="btn btn-dark"
                        ><b>Watch Video</b></button>
                </div>
                <div class="recent-info">
                    <h1 class="my-2">
                        <b> Recent Engagement</b>
                    </h1>
                    <div class="info-1 " style="display: flex;font-size: 20px;">
                        <p class="px-2"> 50k students</p>
                        <p class="px-2">70+ courses</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="our_courses">
            <div class="info-2 mx-3">
                <h1><b> Our Popular Courses </b> </h1>
                <p>Build new skills with new trendy courses and shine

                    for the next future career</p>
            </div>
            <div class="multiple-cards">
            <div class="cards">
                <div class="card" >
                    <img src="basic-web-design.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b> Basic Web Design</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and

                            shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> $120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/web"> Book
                                    Now </a></b></button>
                        </div>
                    </div>
                </div>
                <div class="card" >
                    <img src="/courses/ai.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b>  Artificial Intelligence</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and

                            shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> $120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/ai"> Book
                                    Now </a></b></button>
                        </div>
                    </div>
                </div>
                <div class="card" >
                    <img src="/courses/ml.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b> Machine Learning</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and

                            shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> $120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/ml"> Book
                                    Now </a></b></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card" >
                    <img src="/courses/python.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b> Basic of Python</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and

                            shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> $120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/python"> Book
                                    Now </a></b></button>
                        </div>
                    </div>
                </div>
                <div class="card" >
                    <img src="ui-ux.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b>Digital Marketing</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> $120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/marketing"> Book
                                    Now</a></b></button>
                        </div>
                    </div>
                </div>
                <div class="card" >
                    <img src="webapp.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b> Web App Design</b></h4>
                        <p class="card-text">Get the best course, gain knowledge and shine for your future career</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> $120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="/course/mern"> Book
                                    Now</a></b></button>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>

        <div class="thoughts">
            <div class="author">
                <img src="peter.png" alt="">
                <h4><b>Peter Moor</b></h4>
                <p>Student of web Design</p>
            </div>
            <div class="thought-author">
                <h2><q> Not only does my resume look impressive-filled with the
                        names and logos of world-class institutions-but these
                        certificates also bring me closer to my career goals by
                        validating the skills I've learned </q></h2>
            </div>
        </div>

        <div class="extra">
            <div class="img">
                <img src="p1.png" style="position: relative;top: 30px;margin: 4px;width:45%;" alt="">
                <img src="p2.png" style="width: 45%;" alt="">
            </div>
            <div class="info-3">
                <h2>Learner outcomes through our awesome platform</h2>
                <p>87% of people learning for professional development report career benifits like getting a promotion, a raise, orstarting a new career</p>
                <p>
                    <br>
                    Lesson impact Report</p>

                <button type="button" class="btn btn-dark"><b><a href="/signup"> Sign
                        Up</a></b></button>

            </div>
        </div>

        <div class="blog">
            <div class="heading">
                <h1><b>Our Blog</b></h1>
                <p>Read our regular travel blog and know the latest update
                    of tour and travel</p>
            </div>
            <div class="cards">
                <div class="card" >
                    <img src="blog-1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b>*<u>21 Nov 2021</u></b></h4>
                        <p class="card-text">How to become a pro web designer in
                            2022 and get remot job?</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> $120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="https://careerfoundry.com/en/blog/web-development/what-does-it-take-to-become-a-web-developer-everything-you-need-to-know-before-getting-started/"> Read More</a></b></button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="blog-2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b>*<u>21 Nov 2021</u></b></h4>
                        <p class="card-text">How to become a pro web designer in
                            2022 and get remot job?</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> $120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="https://careerfoundry.com/en/blog/web-development/what-does-it-take-to-become-a-web-developer-everything-you-need-to-know-before-getting-started/"> Read More</a></b></button>
                        </div>
                    </div>
                </div>
                <div class="card" >
                    <img src="blog-3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4><b>*<u>21 Nov 2023</u></b></h4>
                        <p class="card-text">How to become a pro web designer in
                            2022 and get remot job?</p>
                        <div class="price" style="display: flex;justify-content: space-between;">
                            <p><b> $120.75</b></p>
                            <button type="button" class="btn btn-primary"
                                style="width: 50%;border-radius: 20px;"><b><a href="https://careerfoundry.com/en/blog/web-development/what-does-it-take-to-become-a-web-developer-everything-you-need-to-know-before-getting-started/"> Read More</a></b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ourmentor">
            <h1 style="text-align: center;color:rgb(247, 83, 54);font-size:80px"><b><b>Our Mentor</b></b></h1>
            <hr><hr><hr>
            <br>
            <p >Our Mentors at Edu-Station are industry experts who bring years of experience and valuable insight to the classroom. They adopt a personalized approach to suit every student’s needs, accentuating the strengths and addressing any weaknesses. Our mentors encourage active participation in class by encouraging questions and offering feedback after every lecture. We believe that by the end of your course you will have not only the theoretical understanding but an excellent proficiency in skills required to succeed in your field.</p>
            <br>
            <div class="someextra">
                <div class="component-extra">
                <h1><b> 100%</b></h1>
                <h4>Satisfaction</h4>
                </div>
                <div class="component-extra">
                <h1><b> 5000+</b></h1>
                <h4>Learner</h4>
                </div>
                <div class="component-extra">
                <h1><b> 50+</b></h1>
                <h4>Experts</h4>
                </div>
                <div class="component-extra">
                <h1><b> 500+</b></h1>
                <h4>Success Stories</h4>
                </div>
            </div>
        </div>
    </main>
   {{>footer}}

</body>

</html>