<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="/courses/java.avif" style="width: 100%;" alt="Loading...">
                <h1><b>Introduction to Java Course</b></h1>
                <p>Learn Java with AvaIntern's Java Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>
                Java courses focus on the use of data to drive business decisions and strategies. These
                courses provide students with the knowledge and skills necessary to collect, analyze, and interpret data
                to gain insights into business operations and make informed decisions.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
            <h1><b><b>Course Curriculum</b></b></h1>
            <br>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <strong> Introduction to Java</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            The course begins with an introduction to Java, its history, and its role in software
                            development. You'll learn about the Java Virtual Machine (JVM), the Java Development Kit
                            (JDK), and the basics of Java syntax.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong> Variables, Data Types, and Operators</strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            You'll explore different data types in Java, such as integers, floating-point numbers,
                            characters, strings, and boolean values. The course will cover how to declare variables,
                            perform arithmetic and logical operations, and use assignment and comparison operators
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong> Control Flow</strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            You'll learn about control flow statements, including if-else statements, switch statements,
                            and loops (such as for loops, while loops, and do-while loops). These statements allow you
                            to make decisions and repeat actions based on specific conditions.
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong> Object-Oriented Programming (OOP) Concepts</strong>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Java is an object-oriented programming language, and a Java course will cover fundamental
                            OOP concepts. Topics may include classes and objects, encapsulation, inheritance,
                            polymorphism, and abstraction. You'll learn how to create and work with objects, define
                            classes, and use inheritance to create class hierarchies.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <strong>Exception Handling</strong>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Java provides mechanisms for handling errors and exceptional situations. You'll learn how to
                            use try-catch blocks to catch and handle exceptions, as well as how to throw and create
                            custom exceptions.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <strong> Input and Output</strong>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            The course will cover input and output operations in Java, including reading from and
                            writing to files. You'll learn about streams, file handling, and how to use classes such as
                            BufferedReader and PrintWriter.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <strong>Java APIs and Libraries</strong>
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            You'll explore key Java APIs and libraries that provide additional functionality and
                            simplify development. This may include working with the Java Standard Library, using utility
                            classes, and understanding important packages like java.lang, java.util, and java.io.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            <strong>Introduction to GUI Development</strong>
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            The course may cover basic graphical user interface (GUI) development using Java's Swing or
                            JavaFX libraries. You'll learn how to create windows, buttons, menus, and handle user input
                            in a graphical application.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>