<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
  {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="/bg-courses/language.jpeg" style="width: 100%;" alt="Loading...">
                <h1><b>Introduction to C, C++ with DSA Course</b></h1>
                <p>Learn C, C++ with DSA with AvaIntern's Online Internship Program..</p>
            </div>
        </div>
        <div class="form">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleCheck1">College</label>
                    <input type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="course-details">
            <ul>
                <li>Live Conversations With Industry Professionals</li>
                <li>25+ Hours of Learning</li>
                <li>Certificates from reputable MNC's around the world</li>
                <li>Project support and Guidance.</li>
                <li>Access to Specialized Course Materials</li>
            </ul>
        </div>
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>

                C++ became evolved with the aid of Bjarne Stroustrup, as an extension to the c program language period.

                C++ gives programmers a excessive stage of control over machine resources and memory.

            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
            <h1><b><b>Course Curriculum</b></b></h1>
            <br>
            <ol type="1">
                <li>Introduction to C++</li>
                <li>DSA (DATA STRCTURE AND ALGORITHM) </li>
                <li>MINOR & MAJOR PROJECT </li>
            </ol>
        </div>
        <div class="certificates">
            <div class="card" style="width: 25rem;">
                <img src="/certificate.jpg" class="card-img-top" alt="Loading...">
            </div>
            <div class="card" style="width: 25rem;">
                <img src="/certificate-1.jpg" class="card-img-top" alt="Loading...">
            </div>
        </div>
        <div class="pricing">
            <h1><b><b>Pricing Plans</b></b></h1>
            <h2><b> Traineeship</b></h2>
            <h2><b>Rs. 6999</b></h2><br>
            <ul>
                <h3><b>What you get from this : </b></h3><br>
                <li>Internship Certificate by Co-Branded Company</li>
                <li>1 minor + 1 Major project</li>
                <li>16+ hours of mentor training</li>
                <li>25+ hours of video content access</li>
                <li>Outstanding Certificate on successful completion of extra projects</li>
                <li>Training Certificate from AvaIntern</li>
            </ul>
        </div>
        <div class="talk">
            <div class="talk-body">
                <h1><b>Talk to Our Counsellor</b> </h1><br>
                <p>Get answers to all of your questions and concerns from our support staff, who are always willing
                    to help. Don’t hesitate—just pick up your phone and ping us!</p>
                <br>
                <button class="btn btn-primary" style="box-shadow: 10px 5px 5px red;"><span>&rarr; </span><a
                        href="/contact"> Contact
                        us</a></button>
            </div>
            <img src="/counsellor.jpg" style="width: 40%;margin: auto 0;padding:10px ;" alt="">

        </div>
    </main>
   {{>footer}}
</body>

</html>