<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718737332/Non-technical-skills_lopgum.jpg"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Non-Technical Course</b></h1>
                <p>Learn Non-Technical with AvaIntern's Non-Technical Online & Offline Internship Program.</p>
            </div>
        </div>
        <div class="non-tech">
            <img src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718858488/graph_non-tech_qfquad.gif"></img>
            <div class="watch-out">
                <h1>◀️ We have these course ,Learn these course ▶️</h1>
                <div class="watch-out-btn">
                    <button class="btn btn-warning non-tech-btn"><a href="/course/marketing">Learn Digital Marketing
                            Now!!</a></button>
                    <button class="btn btn-warning non-tech-btn"><a href="/course/human">Learn Human Resources
                            Now!!</a></button>
                    <button class="btn btn-warning non-tech-btn"><a href="/course/finance">Learn Finance
                            Now!!</a></button>
                </div>
            </div>
        </div>
        <div class="cantainer">
            <div class="left-cantainer">
                <h1> <strong>Training</strong><br></h1>
                <strong> Skill Development Workshops: </strong> Offer workshops and training sessions to develop
                essential skills required
                in the respective fields. These could include communication skills, leadership skills, digital marketing
                strategies, financial analysis techniques, etc.
                <br>
                <strong>Certification Courses:</strong> Provide certification courses or programs that are recognized in
                the industry.
                These certifications can enhance the credibility of the candidates and improve their chances of getting
                hired.
                <br>
                <strong>Industry-Relevant Curriculum: </strong> Design the curriculum in collaboration with industry
                experts to ensure
                that it covers the latest trends, tools, and technologies relevant to HR, Digital Marketing, and
                Finance.
            </div>
            <div class="right-cantainer">
                <h1> <strong>Placement</strong><br></h1>
                <strong> Internship Opportunities:</strong> Facilitate internships with companies in the respective
                fields to provide
                hands-on experience and exposure to real-world scenarios.
                <br>
                <strong>Career Counseling:</strong> Offer career counseling sessions to help students understand the job
                market, identify
                their strengths, and explore career paths in HR, Digital Marketing, and Finance.
                <br>
                <strong>Resume Building Workshops:</strong> Conduct workshops on resume writing, LinkedIn profile
                optimization, and
                interview preparation to help students present themselves effectively to potential employers.

                <br>
                <strong>Placement Drives:</strong> Organize placement drives and recruitment events where companies from
                relevant
                industries can conduct interviews and hire students directly from the campus.
                <br>
                <strong> Alumni Network:</strong> Leverage the alumni network to connect current students with alumni
                working in HR,
                Digital Marketing, and Finance roles. Alumni can provide mentorship, guidance, and job referrals.
                <br>
                <strong>Industry Partnerships: </strong> Forge partnerships with companies, recruitment agencies, and
                industry
                associations to increase job opportunities for students and strengthen the institution's placement
                ecosystem.
                <br>
                <strong> Mock Interviews: </strong>Arrange mock interview sessions to simulate real interview scenarios
                and provide
                constructive feedback to students, helping them improve their interview skills and confidence.
                <br>
                <strong>Soft Skills Training: </strong>Offer soft skills training programs focusing on areas such as
                interpersonal
                skills, time management, problem-solving, and adaptability, which are essential for success in the
                workplace.
            </div>
        </div>
    </main>
    {{>footer}}
</body>

</html>