<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/cloud%20computing.png?updatedAt=1721554110329"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to System Testing Course</b></h1>
                <p>Learn System Testing with AvaIntern's System Testing Online & Offline Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>
                This course provides an in-depth understanding of system testing, focusing on testing methodologies,
                tools, and best practices. Students will learn how to design, execute, and manage system tests to ensure
                the functionality, performance, security, and reliability of complex systems. The course includes
                practical labs and projects to enhance hands-on skills.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Week-1 : Introduction to System Testing </strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Definition and scope of system testing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Differences between unit testing, integration testing, and system testing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Importance of system testing in the software development lifecycle</strong>
                        </div>
                    </div>
                </div>

            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong> Week-2 : System Testing Life Cycle</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>System testing process and stages</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Creating a system test plan</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Identifying test requirements and objectives</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Week-3 : Test Case Development</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Writing effective test cases</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Test case design techniques: equivalence partitioning, boundary value analysis,
                                decision tables, state transition testing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Creating test data and preparing test environments</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Reviewing and validating test cases</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Week-4 :Test Execution and Management</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Executing test cases and logging results</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Managing test environments and test data</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Test execution strategies: manual vs. automated testing</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
                        aria-expanded="false" aria-controls="collapse5">
                        <strong>Week-5 : Tools and Frameworks for System Testing</strong>
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Overview of popular system testing tools (e.g., Selenium, JUnit, TestNG,
                                LoadRunner)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Setting up and configuring testing tools</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Integrating testing tools with CI/CD pipelines</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6"
                        aria-expanded="false" aria-controls="collapse6">
                        <strong>Week-6 : Functional Testing</strong>
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Understanding functional testing and its importance</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Designing functional test cases</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Executing functional tests and analyzing results</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading7">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7"
                        aria-expanded="false" aria-controls="collapse7">
                        <strong>Week-7 : Performance Testing</strong>
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction to performance testing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Load testing, stress testing, and endurance testing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Using performance testing tools (e.g., JMeter, LoadRunner)</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading8">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8"
                        aria-expanded="false" aria-controls="collapse8">
                        <strong>Week-8 : Security Testing</strong>
                    </button>
                </h2>
                <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Importance of security testing in system testing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Types of security testing: vulnerability scanning, penetration testing, security
                                auditing</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Tools for security testing (e.g., OWASP ZAP, Burp Suite)
                            </strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Reporting and mitigating security issues
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading9">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9"
                        aria-expanded="false" aria-controls="collapse9">
                        <strong>Week-9 : Scalability and Reliability Testing</strong>
                    </button>
                </h2>
                <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Testing for scalability and reliability</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Designing scalability test cases</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Tools and techniques for scalability testing</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading10">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        <strong>Week-10 : Test Reporting and Defect Management</strong>
                    </button>
                </h2>
                <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Documenting test results and creating test reports</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Defect lifecycle and defect management process</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Tools for defect tracking and management (e.g., JIRA, Bugzilla)</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Communicating test results and defects to stakeholders</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                        <strong>Lab 1: Setting Up a Testing Environment</strong>
                    </button>
                </h2>
                <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Step-by-step guide to setting up test environments</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Configuring testing tools and frameworks</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading12">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                        <strong>Lab 2: Functional Testing Project</strong>
                    </button>
                </h2>
                <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Designing and executing functional test cases for a sample application</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Documenting and reporting functional test results</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>