<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329564/xyz/images/bg-courses/technical_rdwom6.jpg"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to Technical Course</b></h1>
                <p>Learn Technical with AvaIntern's Technical Online Internship Program.</p>
            </div>
        </div>


        <div class="non-tech">
            <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1695395391/pie-chart-tech_nxzzpg.svg"
                alt="Loading...">

            <div class="watch-out">
                <h1>◀️ We have these course ,Learn these course ▶️</h1>
                <div class="watch-out-btn">
                    <button class="btn btn-warning non-tech-btn"><a href="/course/web">Learn Web Development
                            Now!!</a></button>
                    <button class="btn btn-warning non-tech-btn"><a href="/course/ds">Learn Digital Science
                            Now!!</a></button>
                </div>
            </div>
        </div>
        {{>form}}
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>