<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329576/xyz/images/courses/UI-UX_et0z7g.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to UI/UX Course</b></h1>
                <p>Learn UI/UX with AvaIntern's UI/UX Online Internship Program.</p>
            </div>
        </div>
        {{>form}}

        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>A UI-UX design course typically focuses on the principles and practices of user interface (UI) and user
                experience (UX) design, with a focus on designing effective and engaging digital products such as
                websites, mobile apps, and software applications.
                Overall, a UI-UX design course prepares students to create user-centered designs that are both visually
                appealing and easy to use. Graduates of UI-UX design courses are highly sought after by businesses in a
                wide range of industries, including technology, advertising, and media.
            </p>

            <br><br>
            <b>
        </div>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Indtroduction of UI-UX Design</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Design Resources</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Designer And Developers</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>ZTM Resources</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong>Figma Basics</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Introduction</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Figma UI - Structure</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Figma UI - Files,Toolbar</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Shapes and Tools — Frames</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Designing in Figma — Images</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project — Auto Layout Buttons</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Project — Imagery and Gradients</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Digital Logic Design Overview</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Basic gates</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Universal gates; CMOS Part 1</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Universal gates; CMOS Part 2</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>NOR CMOS equivalent</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Combinational and sequential circuits full adder</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Introduction to Sitemaps</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">
                        <div class="collapse-item">
                            <strong>Introduction To Sitemaps</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Figma Check In — Basic Components and Variants</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Sitemaps in Figma — The Top Layer</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Tips for Creating Great Sitemaps
                            </strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <strong>Wireframes</strong>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>How To Create A Wireframe</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Figma Check In — Basic Button Component</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>How to Use Our Wireframe Components</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Wireframes — Profile</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>