<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329576/xyz/images/courses/vlsi_kelw7n.png"
                    style="width: 50%;" alt="Loading...">
                <h1><b>Introduction to VLSI course</b></h1>
                <p> Overview of VLSI technology, historical development, and its significance in modern electronics.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>
                <u>
                    <h3>Objective:</h3>
                </u>
                To provide students with a comprehensive understanding of VLSI technology, its principles, design
                methodologies, and practical applications.

                <u>
                    <h3>Duration:</h4>
                </u>
                Typically offered as a semester-long course in undergraduate or postgraduate engineering programs.
                <u>
                    <h3>Formate:</h3>
                </u>
                Lecture-based with laboratory or hands-on sessions for practical design experience.
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
        </div>
        <div class="course-overview">
            <h1><span style="color: #ffd017;">Course </span><span style="color: black;">Overview</span></h1>
        </div>
        <br>

        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong>Practical terminology and methodologies</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Enhancment Mode</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Enhancement mode Part A</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Enhancement mode Part B</strong>
                        </div>
                    </div>
                </div>

            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong>Various Domain in VLSI</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Logic design and Analog design</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Design Verification and Physical Design</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>DFT; AMS and Physical Verification Part 1</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>DFT; AMS and Physical Verification Part 2</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Chip design steps</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Digital Logic Design Overview</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Basic gates</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Universal gates; CMOS Part 1</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Universal gates; CMOS Part 2</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>NOR CMOS equivalent</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Combinational and sequential circuits full adder</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <strong>Introduction to Verilog Programming</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">
                        <div class="collapse-item">
                            <strong>Verilog features; design styles</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Basics; Identifiers in Verilog</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Numbers in Verilog</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <strong>Strings & Module Structure in Verilog Programming</strong>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>strings; registers; data types</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Time memories module intro</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>module structure; Flip flop Verilog code</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Flip-flop; ripple carry counter</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <strong>Operators in Verilog Programming</strong>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Basic gates instantiation</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Timing control in Verilog-Delay based</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Delay based Intra-assign</strong>
                        </div>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        <strong>Event based & Looping Statement in Verilog Programming</strong>
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                    data-bs-parent="#accordionExample">
                    <div class="collapse-overview">

                        <div class="collapse-item">
                            <strong>Event based timing control</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Procedural blocks in Verilog</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Blocking-non blocking; conditional statements</strong>
                        </div>
                        <div class="collapse-item">
                            <strong>Looping statements and RTL example; conclusion</strong>
                        </div>
                    </div>
                </div>
            </div>

            {{>pricingandcertificate}}
            {{>talk}}
    </main>
    {{>footer}}
</body>

</html>