<!DOCTYPE html>
<html lang="en">

{{>coursehead}}

<body>
    {{>header}}

    <main>
        <div class="container">
            <div class="section">
                <img src="/bg-courses/web.jpeg" style="width: 100%;" alt="Loading...">
                <h1><b>Introduction to Web Development Course</b></h1>
                <p>Learn Web Development with AvaIntern's Web Development Online Internship Program.</p>
            </div>
        </div>
        {{>form}}
        <div class="overview">
            <h1><b><b>Overview</b></b></h1><br>
            <p>Web development allows you to build attractive, engaging, and robust websites. With AvaIntern’s Smart
                Course, which covers everything from the fundamentals of HTML & CSS to interactive techniques like
                JavaScript and website handling techniques for backend development like PHP and SQL, you may learn about
                the creative and website handling sides of web development. This course teaches you how to create and
                manage websites and applications simultaneously while also teaching you how to deploy website hosting..
            </p>

            <br><br>
            <b>
                <hr>
                <hr>
                <hr>
            </b>
            <br><br>
            <h1><b><b>Course Curriculum</b></b></h1>
            <br>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <strong>Introduction of web development</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Web development refers to the process of building and maintaining websites and web
                            applications. It involves a combination of coding, designing, and programming skills to
                            create functional and visually appealing websites that are accessible to users across
                            various devices and platforms.
                            <br>
                            <b>Web development can be broadly categorized into two main areas:</b>
                            <br>
                            <li>Front-End Development: Front-end development focuses on the user-facing aspects of a
                                website or web application. It involves creating the visual layout, user interface, and
                                interactivity that users interact with directly. Front-end developers use languages such
                                as HTML (Hypertext Markup Language), CSS (Cascading Style Sheets), and JavaScript to
                                build the client-side components of a website.</li>

                            <li>Back-End Development: Back-end development deals with the server-side functionality and
                                behind-the-scenes operations of a website or web application. It involves writing code
                                that handles data processing, database management, user authentication, and other
                                server-side tasks. Back-end developers use programming languages such as Python, PHP,
                                Ruby, or JavaScript (Node.js) and frameworks like Django, Laravel, or Express.js to
                                develop the server-side logic.</li>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong> How internet works</strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            In web development, the internet serves as the infrastructure that enables the exchange of
                            information between users and websites. Understanding how the internet works is essential
                            for web developers to build and deploy websites and web applications effectively. Here is a
                            simplified overview of how the internet works in the context of web development:
                            <br>
                            <li>Client-Server Architecture: Web development follows a client-server model. The client,
                                typically a web browser, sends requests to the server, and the server responds with the
                                requested web content.</li>
                            <li>Protocols and Standards: The internet relies on various protocols and standards to
                                facilitate communication. The Hypertext Transfer Protocol (HTTP) is the primary protocol
                                used for transferring web pages and other resources. HTTPS, a secure version of HTTP,
                                encrypts data for secure communication.</li>
                            <li>IP Addresses: Every device connected to the internet, including web servers and client
                                devices, is assigned a unique Internet Protocol (IP) address. IP addresses allow devices
                                to identify and communicate with each other across the internet.</li>
                            <li>Hosting and Web Servers: Web hosting involves storing and serving website files on web
                                servers. Web servers are computers that host websites and respond to client requests.
                                When a user accesses a website, the client sends an HTTP request to the appropriate web
                                server, which processes the request and sends back the requested web content.</li>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>HTML & CSS</strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            HTML (Hypertext Markup Language) and CSS (Cascading Style Sheets) are fundamental
                            technologies in web development that work together to create and style web pages. Here are
                            some key points about HTML and CSS:
                            <br>
                            <li>HTML stands for Hypertext Markup Language and is used to structure content on a webpage.
                            </li>
                            <li>CSS stands for Cascading Style Sheets and is used to style and layout the content on a
                                webpage.</li>
                            <li>HTML uses tags to define different types of content, such as headings, paragraphs, and
                                images.</li>
                            <li>CSS uses selectors to target specific elements on a webpage and apply styles to them.
                            </li>
                            <li>Both HTML and CSS are essential building blocks for web development and are used in
                                conjunction with other technologies such as JavaScript and frameworks like Bootstrap to
                                create modern, responsive websites.</li>

                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong> Boot strap & SAAS</strong>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <b>Bootstrap:</b>
                            <br>
                            <li>Bootstrap is a popular open-source front-end framework used for building responsive and
                                mobile-first websites.</li>
                            <li>It provides a collection of CSS styles, components, and JavaScript plugins that can be
                                easily integrated into web projects.</li>
                            <li>With Bootstrap, developers can quickly create consistent and visually appealing designs
                                without starting from scratch.</li>
                            <li>It offers a responsive grid system, pre-styled components (such as buttons, navigation
                                bars, and forms), and a range of CSS classes for rapid prototyping and development.</li>
                            <br>
                            <b>Sass:</b>
                            <br>
                            <li>Sass is a CSS preprocessor that extends the functionality of CSS and provides additional
                                features to make styling more efficient and maintainable.</li>
                            <li>It introduces concepts like variables, mixins, nesting, and inheritance, which help
                                streamline the writing and organization of CSS code.</li>
                            <li>Sass variables allow for reusable values, such as colors or font sizes, that can be
                                easily updated throughout the stylesheet.</li>
                            <li>Mixins are reusable blocks of CSS code that can be included in multiple selectors,
                                reducing duplication and improving code consistency.</li>
                            <li>Nesting in Sass allows for better organization of styles by nesting selectors inside one
                                another, reflecting the HTML structure.</li>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <strong> Javascript</strong>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <b>Javascript:</b>
                            <br>
                            <li>JavaScript is a high-level, interpreted programming language that is primarily used for
                                adding interactivity and dynamic behavior to websites.</li>
                            <li>It is supported by all modern web browsers and can be used both on the client-side (in
                                the browser) and server-side (with the help of technologies like Node.js).</li>
                            <li>JavaScript allows developers to manipulate and modify HTML elements, handle events (such
                                as button clicks or form submissions), perform calculations, validate forms, and more.
                            </li>
                            <li>It provides various built-in objects and functions that make it easy to work with dates,
                                strings, arrays, and other data types.</li>
                            <br>
                            <b>jQuerry:</b>
                            <br>
                            <li>It provides various built-in objects and functions that make it easy to work with dates,
                                strings, arrays, and other data types.</li>
                            <li>It is designed to make common tasks in web development, such as DOM manipulation, event
                                handling, and AJAX requests, simpler and more efficient.</li>
                            <li>jQuery also offers a rich ecosystem of plugins and extensions that extend its
                                functionality and provide additional features, such as image sliders, form validation,
                                and responsive menus.</li>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <strong>Node.js</strong>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Node.js is an open-source, server-side JavaScript runtime environment built on Chrome's V8
                            JavaScript engine. Here are some key points about Node.js:

                            <br>
                            <li>JavaScript on the Server: Node.js allows developers to use JavaScript not only on the
                                client-side (in the browser) but also on the server-side. This unification of the
                                programming language enables full-stack JavaScript development, allowing developers to
                                use the same language and codebase for both the front-end and back-end of web
                                applications.

                            </li>
                            <li>Event-Driven and Non-Blocking I/O: Node.js is known for its event-driven architecture,
                                where asynchronous, non-blocking I/O operations are at the core. This means that Node.js
                                can handle a large number of concurrent requests without blocking the execution, making
                                it highly scalable and efficient for building real-time applications and handling high
                                loads.

                            </li>
                            <li>NPM (Node Package Manager): NPM is the default package manager for Node.js and is the
                                largest ecosystem of open-source libraries and modules. It provides a vast range of
                                pre-built packages that developers can easily include in their projects, saving time and
                                effort. NPM also allows developers to publish and share their own packages.</li>
                            <li>Cross-Platform Compatibility: Node.js is designed to be cross-platform, meaning it can
                                run on different operating systems such as Windows, macOS, and Linux. This allows
                                developers to write code once and deploy it across different environments, making
                                development and deployment more streamlined.</li>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            <strong>Minor and Major Project</strong>
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li><b>Minor Project</b>: "Design and develop a responsive portfolio website showcasing your
                                skills and projects."</li>
                            <li><b> Minor Project</b>: "Design and develop a responsive portfolio website showcasing
                                your skills and projects."</li>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {{>pricingandcertificate}}
        {{>talk}}
    </main>
    {{>footer}}
</body>

</html>