<header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="font-weight: bold;font-size: 30px;">
                    <img src="/logo-1.jpg" alt="Ava Intern">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-3">
                            <a class="nav-link " aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item mx-3 ">
                            <div class="dropdown">
                                <button class="dropbtn">Courses &darr;</button>
                                <div class="dropdown-content">
                                    <div class="dropdown-1">
                                        <button class="dropbtn-1">Traineeship &rarr;</button>
                                        <div class="dropdown-content-1">
                                            <a href="/course/ml"><img src="/courses/ml.jpg" alt="">
                                                Machine
                                                Learning</a><br><br>
                                            <a href="/course/ai"><img src="/courses/ai.png" alt="">
                                                Artificial
                                                Intelligence</a><br><br>
                                            <a href="/course/web"><img src="/courses/web d.jpg" alt="">
                                                Web
                                                Development</a><br><br>
                                            <a href="/course/ds"><img src="/courses/data-science.png"
                                                    alt="">
                                                Data Science</a><br><br>
                                            <a href="/course/cyber"><img
                                                    src="/courses/cyber-security.png" alt="">
                                                Cyber Security</a><br><br>
                                            <a href="/course/app"><img src="/courses/android.png"
                                                    alt="">
                                                Android
                                                App development</a><br><br>
                                            <a href="/course/robot"><img src="/courses/robot.png"
                                                    alt="">
                                                Robotics</a><br><br>
                                            <a href="/course/cad"><img src="/courses/cad.png" alt="">
                                                AutoCAD</a><br><br>
                                        </div><br>
                                    </div>
                                    <div class="dropdown-1">
                                        <button class="dropbtn-1">Advance Program &rarr;</button>
                                        <div class="dropdown-content-1">
                                            <a href="/course/python"><img src="/courses/python.png"
                                                    alt="">
                                                Python</a><br><br>
                                            <a href="/course/marketing"><img src="/courses/ml.jpg"
                                                    alt=""> Digital
                                                Marketing & Marketing</a><br><br>
                                            <a href="/course/web"><img src="/courses/full-stack.png"
                                                    alt="">
                                                Full
                                                Stack Web Development</a><br><br>
                                            <a href="/course/language"><img src="/courses/c-.png"
                                                    alt=""> C,C++ With
                                                DSA</a><br><br>
                                            <a href="/course/mern"><img src="/courses/mern.jpg" alt="">
                                                Mern
                                                Stack</a><br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="/career">Career</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="/contact">Contact us</a>
                        </li>
                        <li class="nav-item mx-3">
                            <button type="button" class="btn btn-dark mx-5 my-1 px-6 py-1"><a style="text-decoration: none;
                                color: white;" href="/signup">Sign
                                    Up</a></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>