 <footer>
        <div class="component">
            <!-- <u -->
            <div class="c1">
                <h1><u><b>Ava Intern</b></u></h1>
                <p>Need to help for your dream Career?
                    trust us. With Ava Intern, study becomes
                    a lot easier with us.</p>
                
            </div>
            <div class="c2">
                <h1><b><u> Company</u></b></h1>
                <div class="list">
                    <li><a href="#"> About Us</a></li>
                    <li><a href="#"> Features</a></li>
                    <li><a href="#"> Our Pricing</a></li>

                </div>
            </div>
            <div class="c3">
                <h1><b><u>Support</u></b></h1>
                <div class="list">
                    <li><a href="/faq"> FAQ's</a></li>
                    <li><a href="#"> Terms & Conditions</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Contact Us</a></li>
                </div>
            </div>
        </div>
    </footer>