<footer>
    <div class="component">
        <!-- <u -->
        <div class="c1">
            <h1><b><span style="color: black;"><a href="/" style="color:black;text-decoration:none;">Ava</span><span
                        style="color:#ffd017;text-decoration:none;">Intern</span>
                    </a></b></h1>
            <p>Need to help for your dream Career?
                trust us. With Ava Intern, study becomes
                a lot easier with us.</p>

        </div>
        <div class="c2">
            <h1><b> Pages</b></h1>
            <div class="list">
                <li><a href="/"> Home</a></li>
                <li><a href="/about"> About Us</a></li>
                <li><a href="/career"> Career</a></li>
                <li><a href="/contact"> Contact us</a></li>
                <li><a href="/course"> Our Courses</a></li>

            </div>
        </div>
        <div class="c3">
            <h1><b>Support</b></h1>
            <div class="list">
                <li><a href="/faq"> FAQ's</a></li>
                <li><a href="#"> Terms & Conditions</a></li>
                <li><a href="#"> Privacy Policy</a></li>
            </div>
        </div>
        <div class="c4">
            <h1><b>Address</b></h1>
            <p>Banglore,Neraluru SMS complex 1st floor</p>
            <p>Karnataka,562107</p>
        </div>
    </div>
</footer>
{{!--
<script type="text/javascript">
</script> --}}