<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-weight: bold;font-size: 30px;">
                <img src="https://ik.imagekit.io/kvytj0hxj/logo-2.jpg?updatedAt=1721552658249" alt="Ava Intern">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
                <ul class="navbar-nav">
                    <li class="nav-item mx-3">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-3 ">
                        <div class="dropdown">
                            <button class="dropbtn">Courses &rarr;</button>
                            <div class="dropdown-content">
                                <div class="dropdown-1">
                                    <button class="dropbtn-1">Traineeship &darr;</button>
                                    <div class="dropdown-content-1">
                                        <a href="/course/web"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/full-stack.png?updatedAt=1720341404126"
                                                alt="">
                                            Full Stack Web Development</a><br>

                                        <a href="/course/ai"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/ai.png?updatedAt=1720341400249"
                                                alt="">
                                            Artificial Intelligence</a><br>
                                        <a href="/course/cad"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/cad.png?updatedAt=1720341400220"
                                                alt="">
                                            AutoCAD</a><br>

                                        <a href="/course/da"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/data-science.png?updatedAt=1720341399679"
                                                alt="">
                                            Data Analytics</a><br>
                                        <a href="/course/human"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/human.webp?updatedAt=1720341404275"
                                                alt="">
                                            Human Resources</a><br>
                                        <a href="/course/vlsi"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/vlsi.png?updatedAt=1720341415374"
                                                alt="">
                                            VLSI</a><br>
                                        <a href="/course/java"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/java.avif?updatedAt=1720341419013"
                                                alt="">
                                            Beginner To Advance Java </a><br>
                                        <a href="/course/embedded-system"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/vlsi.png?updatedAt=1720341415374"
                                                alt="">
                                            Embedded System</a><br>
                                        <a href="/course/system-testing"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/cloud%20computing.png?updatedAt=1721554110329"
                                                alt="">
                                            Software Testing</a><br>
                                        <a href="/course/ds"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/data-science.png?updatedAt=1720341399679"
                                                alt="">
                                            Data Science</a><br>
                                        <a href="/course/cloud-computing"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/cloud%20computing.png?updatedAt=1721554110329"
                                                alt="">
                                            Cloud Computing</a><br>
                                        <a href="/course/cyber-Security"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/cyber-security.png?updatedAt=1720341399753"
                                                alt="">
                                            Cyber Security</a><br>
                                        <a href="/course/business"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/business.webp?updatedAt=1720341400270"
                                                alt="">
                                            Business analytics</a><br>
                                        <a href="/course/finance"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/finance.webp?updatedAt=1720341402558"
                                                alt="">
                                            Finance</a><br>
                                        <a href="/course/dsa"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/dsa-1.png?updatedAt=1720341402347"
                                                alt="">
                                            Data Stucture and alogrithm</a><br>
                                        <a href="/course/marketing"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/digital.png?updatedAt=1720341400104"
                                                alt=""> Digital
                                            Marketing & Marketing</a><br>
                                        <a href="/course/ui-ux"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/UI-UX.png?updatedAt=1720341406047"
                                                alt="">
                                            UI/UX</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/career">Career</a>
                    </li>
                    <li class="nav-item mx-3">
                        <div class="dropdown" style="z-index: 1;">
                            <button class="dropbtn">Placement Cell &rarr;</button>
                            <div class="dropdown-content">
                                <div class="dropdown-1">
                                    <button class="dropbtn-1">Domain &darr;</button>
                                    <div class="dropdown-content-1">
                                        <a href="/course/bde"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/courses/bn%20jae.png?updatedAt=1720341401361"
                                                alt="">
                                            BDA & BDE</a><br>
                                        <a href="/technical"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/bg-courses/technical.jpg?updatedAt=1720341447539"
                                                alt="">
                                            Technical</a><br>
                                        <a href="/non_technical"><img
                                                src="https://ik.imagekit.io/kvytj0hxj/Avaintern/bg-courses/Non-technical-skills.jpg?updatedAt=1720341450629"
                                                alt="">
                                            Non-Technical</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>
                    {{!-- <li class="nav-item mx-3">
                        <button type="button" class="btn btn-dark"><a style="text-decoration: none;
                                color: rgb(23, 2, 2);font-weight:bold" href="/signup">Sign
                                Up</a></button>
                    </li> --}}
                </ul>
            </div>
        </div>
    </nav>
</header>