<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-weight: bold;font-size: 30px;">
                <img src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718737200/logo-2_dlfmyi.jpg"
                    alt="Ava Intern">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: flex-end;">
                <ul class="navbar-nav">
                    <li class="nav-item mx-3">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-3 ">
                        <div class="dropdown">
                            <button class="dropbtn">Courses &rarr;</button>
                            <div class="dropdown-content">
                                <div class="dropdown-1">
                                    <button class="dropbtn-1">Traineeship &darr;</button>
                                    <div class="dropdown-content-1">
                                        <a href="/course/web"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736877/full-stack_pjqpfw.png"
                                                alt="">
                                            Full Stack Web Development</a><br>

                                        <a href="/course/ai"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736868/ai_mkz2me.png"
                                                alt="">
                                            Artificial Intelligence</a><br>
                                        <a href="/course/cad"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736869/cad_sxhgdb.png"
                                                alt="">
                                            AutoCAD</a><br>

                                        <a href="/course/da"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736870/ds_csorhi.webp"
                                                alt="">
                                            Data Analytics</a><br>
                                        <a href="/course/human"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736876/human_fb248y.webp"
                                                alt="">
                                            Human Resources</a><br>
                                        <a href="/course/vlsi"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736882/vlsi_dythm0.png"
                                                alt="">
                                            VLSI</a><br>
                                        <a href="/course/java"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736877/full-stack_pjqpfw.png"
                                                alt="">
                                            Beginner To Advance Java </a><br>
                                        <a href="/course/embedded-system"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736882/vlsi_dythm0.png"
                                                alt="">
                                            Embedded System</a><br>
                                        <a href="/course/system-testing"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736882/vlsi_dythm0.png"
                                                alt="">
                                            Software Testing</a><br>
                                        <a href="/course/ds"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736870/ds_csorhi.webp"
                                                alt="">
                                            Data Science</a><br>
                                        <a href="/course/cloud-computing"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736882/vlsi_dythm0.png"
                                                alt="">
                                            Cloud Computing</a><br>
                                        <a href="/course/cyber-Security"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736869/cyber-security_jh23gq.png"
                                                alt="">
                                            Cyber Security</a><br>
                                        <a href="/course/business"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736869/business_swmnue.webp"
                                                alt="">
                                            Business analytics</a><br>
                                        <a href="/course/finance"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736876/finance_ckrpe1.webp"
                                                alt="">
                                            Finance</a><br>
                                        <a href="/course/dsa"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736870/dsa-1_kwomsq.png"
                                                alt="">
                                            Data Stucture and alogrithm</a><br>
                                        <a href="/course/marketing"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736869/digital_ywbnqh.png"
                                                alt=""> Digital
                                            Marketing & Marketing</a><br>
                                        <a href="/course/ui-ux"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718736880/UI-UX_kydiat.png"
                                                alt="">
                                            UI/UX</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/career">Career</a>
                    </li>
                    <li class="nav-item mx-3">
                        <div class="dropdown" style="z-index: 1;">
                            <button class="dropbtn">Placement Cell &rarr;</button>
                            <div class="dropdown-content">
                                <div class="dropdown-1">
                                    <button class="dropbtn-1">Domain &darr;</button>
                                    <div class="dropdown-content-1">
                                        <a href="/course/bde"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718737173/bda_qf9hx6.jpg"
                                                alt="">
                                            BDA & BDE</a><br>
                                        <a href="/technical"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718737333/technical_x2h3hw.jpg"
                                                alt="">
                                            Technical</a><br>
                                        <a href="/non_technical"><img
                                                src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718737332/Non-technical-skills_lopgum.jpg"
                                                alt="">
                                            Non-Technical</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>
                    {{!-- <li class="nav-item mx-3">
                        <button type="button" class="btn btn-dark"><a style="text-decoration: none;
                                color: rgb(23, 2, 2);font-weight:bold" href="/signup">Sign
                                Up</a></button>
                    </li> --}}
                </ul>
            </div>
        </div>
    </nav>
</header>