 <div class="certificates">
            <div class="card" style="width: 25rem;">
                <img src="/certificate.jpg" class="card-img-top" alt="Loading...">
            </div>
            <div class="card" style="width: 25rem;">
                <img src="/certificate-1.jpg" class="card-img-top" alt="Loading...">
            </div>
        </div>
        <div class="pricing">
            <h1><b><b>Pricing Plans</b></b></h1>
            <h2><b> Traineeship</b></h2>
            <h2><b>Rs. 6999</b></h2><br>
            <ul>
                <h3><b>What you get from this : </b></h3><br>
                <li>Internship Certificate by Co-Branded Company</li>
                <li>1 minor + 1 Major project</li>
                <li>16+ hours of mentor training</li>
                <li>25+ hours of video content access</li>
                <li>Outstanding Certificate on successful completion of extra projects</li>
                <li>Training Certificate from AvaIntern</li>
            </ul>
        </div>