<div class="certificates">
    <div class="card">
        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329566/xyz/images/certificate_a93dws.jpg"
            class="card-img-top" alt="Loading...">
    </div>
    <div class="card">
        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329565/xyz/images/certificate-2_y7lpgi.webp"
            class="card-img-top" alt="Loading...">
    </div>
</div>
<div class="pricing">
    <h1><b><b>Pricing Plans</b></b></h1>
    <h2><b> Traineeship</b></h2>
    <h2><b>Rs. 11,999</b></h2><br>
    <ul>
        <h3><b>What you get from this : </b></h3><br>
        <li>Internship Certificate by Co-Branded Company</li>
        <li>1 minor + 1 Major project</li>
        <li>Live Conversations With Industry Professionals</li>
        <li>16+ hours of mentor training</li>
        <li>25+ hours of video content access</li>
        <li>Access to Specialized Course Materials</li>
        <li>Outstanding Certificate on successful completion of extra projects</li>
        <li>Training Certificate from AvaIntern</li>
    </ul>
</div>