<script>
    const scrollButton = document.getElementById("btn-scroll");
    const formContainer = document.getElementById("form");
    console.log(scrollButton);
    console.log(formContainer);

    scrollButton.addEventListener("click", function () {
        formContainer.scrollIntoView({ behavior: "smooth" });
    });
</script>
<div class="certificates">
    <div class="card">
        <img src="https://ik.imagekit.io/kvytj0hxj/CERTIFICATION%20-SAMPLE.jpg?updatedAt=1720619033361"
            class="card-img-top"
            alt="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718737176/certificate_v3yuvq.jpg">
    </div>
    {{!-- <div class="card">
        <img src="https://res.cloudinary.com/df6f8uemq/image/upload/v1694329565/xyz/images/certificate-2_y7lpgi.webp"
            class="card-img-top" alt="Loading...">
    </div> --}}
</div>



<div class="about-course">
    <h1>About the Course</h1>
    <div class="grid-container">
        <div class="grid-item">
            <img src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718784347/clock_gw2nqh.gif" alt="Clock... ">
            <p>30+ hours Training</p>
        </div>
        <div class="grid-item">
            <img src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718784349/modules_y2mot6.gif" alt="Module...">
            <p>25+ Modules</p>
        </div>
        <div class="grid-item">
            <img src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718784345/assignment_rng2vs.gif"
                alt="Loading...">
            <p>Assignments</p>
        </div>
        <div class="grid-item">
            <img src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718784353/projects_w8zzgz.gif"
                alt="Loading...">
            <p>2 Projects</p>
        </div>
        <div class="grid-item">
            <img src="https://ik.imagekit.io/kvytj0hxj/CERTIFICATION%20-SAMPLE.jpg?updatedAt=1720619033361"
                alt="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718737177/certificate-2_yauoyj.webp">
            <p>Assured Certificate</p>
        </div>
        <div class="grid-item">
            <img src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718784364/courses_olyhj9.gif"
                alt="Loading...">
            <p>Specialize Course</p>
        </div>
    </div>
    <h5>Mentorship Program Price <br> <span><a href="#"><button id="btn-scroll"><img class="rs"
                        src="https://res.cloudinary.com/dqlxklbcq/image/upload/v1718784364/price_tag_io54an.gif" alt=`<i
                        class="
            fa-solid fa-indian-rupee-sign fa-beat-fade" style="color: #f1e904;"></i>
                    11999</h5></button></a></span>
</div>