@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Mochiy+Pop+P+One&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Mochiy+Pop+P+One&family=Roboto:wght@500&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
*{
    margin: 0;padding: 0;
}
.navbar-brand{
    font-family: 'Rubik Pixels', cursive;
    color: red;
}
.container-fluid{
    width: 85%;
    height: 100px;
    /* background: rgb(246, 184, 184); */
}
.nav-item{
    font-size: 20px;
    font-weight: 10px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.navbar-brand img{
    height: 90px;
}
.img{
    width: 40%;
}
.content{
    margin: 0% auto;
    width: 50%;
    font-size: 45px;
    font-weight: bolder;
    /* margin-right: 10px; */
}
.basic-info{
    font-size: 25px;
    font-weight: lighter;
}
.container img{
    width: 75%;
    height: 90%;
}
.btn{
    font-size: 15px;
    width: 90px;
}
.btn a {
    text-decoration: none;
    color: white;
}
.btn:hover{
    transform: scale(1.2,1.2 )
}
.our_courses{
    /* background: yellow; */
    width: 87%;
    margin: auto;
}
.para{
    font-size: 35px;
    font-family: robo;
    font-weight: bold;
    text-align: center;
}
.card img{
    height: 200px;
}
.cards{
    width: 100%;
    display: flex;
    margin: 3% 0;
}
.card-text{
    font-size: 20px;
}
.cards .card{
    width: 25%;
}
.someextra{
    width: 80%;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.card{
    margin: auto;
    width: 900px;
}

.card-img-top{
    border: 2px solid red;
    border-radius: 5px;
}
.thoughts{
    /* width: 96%; */
    margin: 10% auto;
    background: rgb(54, 34, 34);
    color: white;
    display: flex;
    justify-content: space-around;
}
.author{
    width: 30%;
text-align: center;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
padding: 60px 0;
}
.thought-author{
    width: 45%;
    padding: 30px;
}

.extra{
    /* background: gray; */
    width: 90%;
    margin: 10% auto;
    display: flex;
    justify-content: space-around;
}
.info-3{
    margin-top: 10%;
    width:  40%;
    font-family:cursive;
    font-weight: bold;
}
.blog{
    width: 100%;
    background: whitesmoke;
}
.heading{
    text-align: center;
}
.component{
    margin-top: 5%;
    padding: 5% 0;
    color: wheat;
    background:rgb(54, 34, 34);
    display: flex;
    justify-content: space-evenly;
}
.list{
    list-style: none;
}
.list li a{ 
    color: white;
    text-decoration: none;
}
.c1{
    width: 20%;
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content-1{
    display: none;
    position: absolute;
    top: 0%;
    left: 100%;
    background-color:rgb(243, 238, 235);
        width: 170%;
        padding: 10px;
}
.dropdown-content-1 a{
    padding: 15px 0;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.dropdown-content-1 a:hover{
    transform: scale(1.2,1.2);
    font-size: 21px;
    color: rgb(251, 32, 32);
}
.dropdown-content-1 a img{
    width: 30px;
    height: 25px;
}
    .dropdown:hover .dropdown-content{
        display: flex;
        flex-direction: column;
    }
    .dropdown-1:hover .dropdown-content-1{
        display: block;
    }
    
    .dropbtn{
        margin-top: 10px;
        border: none;
        background: none;
        font-weight: bold;
    }
    .dropbtn-1{
        margin: 10px;
        border: none;
        background-color: none;
        font-size: 15px;
    }

    /* career.css */
    hr{
        width: 90%;
        opacity: 5;
        margin: auto;
    }
    .talk{
        background: rgb(223, 161, 161);
        display: flex;
        justify-content: space-around;
        margin: 10px;
    }
    .talk-body{
        color: white;
        margin: 5% 10px;
        width: 40%;
        font-size: 20px;
    }

    /* About */
    .banner{
        width: 80%;
        margin: auto;
    }
    .banner img{
        width: 100%;
        height: 350px;
    }
    .details{
        background: rgb(228, 196, 228);
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 20px;
        font-style: oblique;
        font-family: robo;
        font-weight: bold;
    }

    /* contact */
    .contact img{
        width: 100%;
        opacity: 0.2;
        /* height: 105%; */
    }
    .address{
        width: 30%;
        text-align: center;
        position: absolute;
        top: 60%;
        left: 10%;
        font-size: 30px;
        font-weight: bold;
        font-family: robo;
    }
    .address h1{
        font-size:100px;
        color: rgb(100, 60, 60);
    }
    .my-form{
        display: flex;
    }
    form{
        margin: auto;
        padding: 20px;
        width: 40%;
        background: rgb(225, 240, 225);
    }
    label{
        font-size: 20px;
        font-weight: bolder;
    }
    .extra-connections{
        width: 50%;
    }
    .extra-connections h1{
        text-align: center;
        font-family: robo;
        font-size: 100px;
    }
    .links{
        display: flex;
        justify-content: center;
    }
    .links a{
        margin: 0 10px;
    }
    .links a img{
        width: 100%;
        height: 50px;
    }

    footer h1{
        color: white;
    }

/* Ml.css */
.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section img{
    margin: 20px;
    width: 100%;
}
.course-details{
    background: rgb(244, 234, 244);
    padding-left: 20px;
    margin: 5% 10% ;
    font-size: 40px;
    font-family: robo;
    font-weight: bold;
}

.overview{
    background: whitesmoke;
    width: 80%;
    margin: auto;
    padding: 20px;
    font-size: 25px;
}
.overview h1{
    color: red;
}
.certificates{
    width: 75%;
margin: 5% auto;
display: flex;
padding: 2%;
background: rgb(240, 228, 240);
}
.certificates img{
    height: 300px;
    width: 100%;}
    .certificates:hover img{
    animation: shake 0.5s; 
  animation-iteration-count: infinite;

    
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  /* faqs */
  .heading_faqs{
    text-align: center;
    
    color: blue;
  }
  .heading_faqs h1{
    font-weight: bolder;
    font-size: 80px;
  }
  .questions{
    width: 80%;
    /* background: grey; */
    margin: auto;
  }
  .que{
    font-size: 30px;
    width: 90%;
    background:rgb(246, 246, 160);
    /* border: 5px solid black; */
    border-radius: 30px;
    padding: 10px;
    margin: 5% auto;
  }
  .que span{
    font-size: 40px;
    font-weight: bold;
  }
  /* whychooseus */
  .whychooseus{
    padding: 5% 10px;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    display: flex;
  }
  .whychooseus img{
    width: 35%;
border-radius: 5%;  
height: 29rem;
  }
  .moto{
    width: 40%;
  }
  .moto .heading{
    font-size: 46px;
    font-weight: bolder;
  }
  .moto p{
    font-size: 20px;
  }
  /* partners */
  .partners{
    width: 90%;
    margin:10% auto;
  }
  .partners p{
    font-size: 50px;
    text-align: center;
    margin: 5% auto;
  }
  .imgs{
    width: 100%;
    display: flex;
  }
  .imgs img{
    width: 20%;
    height: 15rem;
    margin: auto;
    border: 3px solid wheat;
    border-radius: 5px;
    box-shadow: #e26b6b;
  }
/* Provide */
.provide{
    width: 80%;
    margin: auto;
}
.provide-content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.provide p{
    /* font-style: oblique; */
    font-size: 50px;
    width: 50%;
    font-weight: bold;
}
.provide .img img{
    width: 100%;
    height: 25rem;
}

/* Pricing */
.pricing{
    width: 80%;
    margin: auto;
    background: rgb(242, 239, 234);
    padding: 20px;font-family: 'Mochiy Pop P One', sans-serif;
    text-align:center;
/* color: rgb(93, 48, 48); */
border: 5px solid black;
border-radius: 20px;
}
.pricing ul{
    text-align: start;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: x-large;
}
.component-extra h1{
    font-size: 80px;
    color:rgb(216, 199, 68)

}
.navbar{
    width: 100%;
}
.ourmentor {
    margin: 10% auto;
}
.ourmentor hr{
    width: 60%;
}
.ourmentor p{
    width:80%;margin:auto;font-size:30px;font-weight:bold
}
.info-3 .btn{
    width: 25%;
    border-radius: 20px;
}
.blog .cards .card{
    width: 18rem;
}
.multiple-cards .cards .cards{
    width: 18rem;
}
.content .btn
{
    width: 25%;
    height: 50px;
    border-radius: 20px;
}
.plan{
    width: 90%;
    margin: 20px    auto;
}
.plan img{
    width: 100%;
    margin: 20px auto;
}
.provide-content span{
    color:rgb(212, 212, 97);
    font-size:65px
}



/* Responsive index.hbs */
@media only screen and (max-width:1075px){
.component-extra h1{
    font-size: 40px;
}
.whychooseus{
    width: 70%;
    margin: auto;
    flex-direction: column;
}
.whychooseus img{
    width: 100%;
    height: 20rem;
}
.moto{
    width: 100%;
    padding-top: 5%;
}
.provide-content p{
    font-size: 30px;
}
.provide-content span{
    font-size: 35px;
}
.container-fluid{
    width: 100%;
}
.thought-author q{
    font-size: 20px;
}
.content{
    font-size: 35px;
    margin:0;
    padding: 5px;
}
.container img{
    width: 20rem;
}
.ourmentor b{
    font-size: 40px;
}
.ourmentor p{
    font-size: 20px;
}
}
@media only screen and (max-width:991px)
{
    .container {
        display: flex;
        flex-direction: column;
    }
    .container .img{
        width: 100%;
    }
    .container .img img{
        width: 100%;
    }
    .container .content{
        width: 100%;
    }
    .recent-info, .info-1{
        justify-content: center;
        text-align: center;
    }
    .component{
        font-size: 13px;
    }
    .info-3 .btn{
        width: 40%;
    }
    footer h1{
        font-size:20px ;
    }
}
@media only screen and (max-width:815px) {
    .cards{
        display: flex;
        flex-direction: row;
    }
    .imgs img{
        height: 8rem;
    }
    .card-text b{
        font-size: 15px;
    }
    .multiple-cards{
        display: flex;
    }
    .multiple-cards .cards{
        flex-direction: column;
    }
    .multiple-cards .cards .card{
        margin: 10px 0;
        width: 90%;
    }
    .extra{
        display: flex;
        flex-direction: column;
    }
    .extra .img{
        width: 100%;
    }
    .extra .info-3{
        width: 100%;
        text-align: center;
    }
    .blog .cards{
        display: flex;
        flex-direction: column;
    }
    .blog .cards .card{
        width: 50%;
        margin: 10px auto;
        text-align: center;
        justify-content: center;
    }
    .blog .cards .card img{
        height: 300px;
    }

    .mentor {
        width: 80%;
        margin: auto;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    footer h1{
        font-size:20px ;
    }
}
@media only screen and (max-width:652px){
    .content{
        font-size: 20px;
    }

    .provide-content {
        width: 100%;
        display: flex;
        /* float: left;/ */
        flex-direction: column-reverse;
    }
    .provide-content .img{
        width: 100%;
    }
    .provide-content .img img{
        width: 70%;
    }
    .provide-content p{
        width: 80%;
        /* margin: auto; */
        text-align: start;
    }
    .provide-content img{
        width: 60%;
        float: right;
    }
    .basic-info{
        font-size: 20px;
    }
    .our_courses{
        width: 95%;
    }
    .multiple-cards{
        width: 100%;
    }
    .multiple-cards .cards .card{
        width: 100%;
    }
    .thoughts{
        display: flex;
        flex-direction: column;
    }
    .author{
        width: 100%;
    }
    .thought-author{
        width: 100%;
    }
    .component-extra h4{
        font-size: 12px;
    }
    .component-extra b{
        font-size: 23px;
    }
    footer .component{
        font-size:8px ;
    }
}
@media only screen and (max-width:438px)
{
    .multiple-cards{
        flex-direction: column;
    }
    .multiple-cards .cards{
        width: 70%;
        margin: auto;
    }
    .mentor {
        font-size: 13px;
        font-weight: none;
    }
    .content .btn{
        width: 30%;
    }
    .whychooseus{
        width: 90%;
    }
    .ourmentor p{
        font-size: 13px;
        font-weight: none;

    }
    .partners p{
        font-size: 2em;
    }
    .partners .imgs{
        display: flex;
        flex-direction: column;
    }
    .provide-content p{
        font-size: 15px;
    }
    .partners img{
        width: 80%;
        height: 30%;
        margin: 15px auto;
    }
    .moto .heading{
        font-size: 30px;
    }
    .moto p{
        font-size: 15px;
    }
    .content b{
        font-size: 15px;
    }
    .blog .cards .card{
        width: 80%;
        margin: auto;
    }
}
@media only screen and (max-width:331px){
    .content .btn{
        width: 35%;
        height: 54px;
        border-radius: 20px;
        font-size: 7px;
    }
    .basic-info{
        font-size: 15px;
    }
    .component-extra h4{
        font-size: 10px;
    }
    footer .component{
        display: flex;
        flex-direction: column;
    }
    .c1,.c2,.c3,.c4{
        width: 80%;
        text-align: center;
        margin: 10px auto;
      }
      .basic-info{
        font-size: 10px;
      }
      .some-btn b{
        font-size: 11px;
      }

      .card-text{
        font-size: 15px;
      }
}
